HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
logs/
# Ignore everything inside Additional
Additional/*

# Allow these two folders
!Additional/evaluate-loki/
!Additional/evaluate-prometheus/

# Allow everything inside them
!Additional/evaluate-loki/**
!Additional/evaluate-prometheus/**




### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/